.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



/* figma */

.react_1 {
  width: 1200px;
  height: auto;
  /* border: 1px solid black; */
  padding: 40px 60px;
  background-color: #F7F8FD;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

}



.react_2 {
  width: 265px;
  height: 650px;
  /* border: 2px solid black; */


  >.react_2_img {
    width: 255px;
    height: 150px;
    /* border: 1px solid black; */
    position: relative;
    padding: 0px 0px 20px 0px;

    >.react_2_img1 {
      width: 255px;
      height: 140px;

    }

    >h2 {
      position: absolute;
      z-index: 2;
      left: 30px;
      top: 45px;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      font-family: "Jost", sans-serif;
      color: #FFFFFF;
    }

    >p {
      position: absolute;
      z-index: 2;
      left: 30px;
      top: 70px;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      font-family: "Jost", sans-serif;
      color: #FFFFFF;
    }



  }

  >.react_2_div2 {
    width: 260px;
    height: 170px;
    border: 0px solid black;
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 10px 0px 0px 0px;


    >.react_2_div2_1 {
      width: 95%;
      height: 50px;
      border: 0px solid black;
      padding: 10px 0px 10px 5%;
      display: flex;
      justify-content: space-evenly;

      >.react_2_div2_1_1 {
        width: 48px;
        height: 25px;
        border-radius: 40px;
        background-color: #F2F4FF;
        margin-left: -20px;
        font-family: "Jost", sans-serif;
        font-weight: 700;
        font-size: 13px;
        color: blue;
        text-align: center;
        padding: 5px 0px 0px 0px;

      }

      >.react_2_div2_1_1:hover {
        background-color: blue;
        color: white;
      }

      >.react_2_div2_1_2 {
        width: 131px;
        height: 25px;
        border-radius: 40px;
        background-color: #F2F4FF;
        margin-left: -10px;
        font-family: "Jost", sans-serif;
        font-weight: 700;
        font-size: 13px;
        color: blue;
        text-align: center;
        padding: 5px 0px 0px 0px;
        margin-top: -20px;

      }

      >.react_2_div2_1_2:hover {
        background-color: blue;
        color: white;
      }

      >.react_2_div2_1_3 {
        width: 56px;
        height: 25px;
        border-radius: 40px;
        background-color: #F2F4FF;
        margin-left: -20px;
        font-family: "Jost", sans-serif;
        font-weight: 700;
        font-size: 13px;
        color: blue;
        text-align: center;
        padding: 5px 0px 0px 0px;
        margin-top: -20px;

      }

      >.react_2_div2_1_3:hover {
        background-color: blue;
        color: white;
      }

      >.react_2_div2_1_4 {
        width: 77px;
        height: 25px;
        border-radius: 40px;
        background-color: #F2F4FF;
        margin-left: -20px;
        font-family: "Jost", sans-serif;
        font-weight: 700;
        font-size: 13px;
        color: blue;
        text-align: center;
        padding: 5px 0px 0px 0px;
        margin-left: -125px;
        margin-top: -40px;
      }

      >.react_2_div2_1_4:hover {
        background-color: blue;
        color: white;
      }

    }
  }


}

.react_2_div3 {
  width: 260px;
  height: 170px;
  /* border: 1px solid black; */
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 10px 0px 0px 0px;
  margin-top: 35px;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding-bottom: 10px;


  >.react_2_div3_1 {
    width: 200px;
    height: 30px;
    /* border: 2px solid black; */
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;


    >p {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      margin-top: 0px;
      font-family: "Jost", sans-serif;

    }

    >a {
      font-size: 18px - 5px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 0px;
      font-family: "Jost", sans-serif;

    }

    >.react_2_div3_1_rang {
      width: 65%;
      height: auto;
      /* background-color: red; */
      display: flex;

      >.react_2_div3_1_rang_1 {
        width: 8px;
        height: 8px;
        background-color: #F49F85;
        border-radius: 100%;
        margin-top: 10px;
      }

      >.react_2_div3_1_rang_2 {
        width: 8px;
        height: 8px;
        background-color: #AD1FEA;
        border-radius: 100%;
        margin-top: 10px;
      }

      >.react_2_div3_1_rang_3 {
        width: 8px;
        height: 8px;
        background-color: #62BCFA;
        border-radius: 100%;
        margin-top: 10px;
      }


      >p {
        font-size: 16px;
        color: #647196;
        font-family: "Jost", sans-serif;
        font-weight: 400;
        margin-top: 3px;
        padding-left: 20px;

      }

    }


    >h5 {
      font-size: 16px;
      color: #647196;
      font-family: "Jost", sans-serif;
      font-weight: 700;
      margin-top: 3px;
      padding-left: 20px;
      line-height: 28px;

    }


  }

}


/* react 3 div 2 */


.react_3 {
  width: 850px;
  height: auto;
  /* border: 2px solid black; */

}

.react_3_div1 {
  width: 800px;
  height: 50px;
  background-color: #373F68;
  padding: 25px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  >button {
    width: 158px;
    height: 44px;
    background-color: #AD1FEA;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #F2F4FE;
    font-family: "Jost", sans-serif;


  }
}

.react_3_div1_img {
  width: 400px;
  height: 40px;
  border: 0px solid black;
  display: flex;

  >img {
    width: 23px;
    height: 24px;
    margin-top: 10px;
  }

  >h4 {
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
  }

  >p {
    font-size: 14px;
    color: #F2F4FE;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    margin-top: 12px;
    margin-left: 20px;
  }

  >select {
    width: 150px;
    height: 30px;
    padding: 0px 10px;
    background-color: #282c3400;
    border: 0px;
    margin-top: 7px;
    font-size: 17px;
    color: #F2F4FE;
    font-family: "Jost", sans-serif;
    font-weight: 700;

    >option {
      background-color: #88450600;

    }

  }

}


/* div 2  */


.react_3_div2 {
  width: 800px;
  height: 130px;
  background-color: #FFFFFF;
  padding: 25px 25px;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

}

.react_3_div2_1 {
  width: max-content;
  height: max-content;
  background-color: #F2F4FE;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  border-radius: 10px;

  >p {
    margin-top: 0px;
    margin: auto;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 16px;

  }

  >.react_3_div2_1_icons {
    margin: auto;

  }



}

.react_3_div2_div {
  width: 700px;
  height: 160px;
  /* border: 1px solid black; */
  display: flex;
}

.react_3_div2_div_2 {
  width: max-content;
  height: 160px;
  /* border: 1px solid red; */
  padding-left: 30px;


  >h1 {
    font-size: 25px;
    font-weight: 700;
    color: #3A4374;
    line-height: 20px;
    font-family: "Jost", sans-serif;
    margin-top: 0px;

  }

  >p {
    font-size: 18px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #647196;
    margin-top: 0px;


  }

}

.react_3_div2_div_2_div {
  width: max-content;
  height: max-content;
  background-color: #F2F4FF;
  color: blue;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 12px;
  margin-top: 0px;


}

.react_3_div2_div_2_div:hover {
  color: white;
  background-color: blue;
}


/*  div 2 */

.react_3_div2_div2 {
  width: max-content;
  height: 25px;
  /* border: 2px solid black; */
  display: flex;
  margin-top: calc(50px);
  font-weight: 900;


  >p {
    margin-top: -5px;
    padding-left: 10px;
    font-size: 16px;
    font-family: "Jost", sans-serif;
    font-weight: 900;
    color: #3A4374;
    align-items: center;

  }

  >.react_3_div2_div2_icons {
    font-size: 18px;
    color: #CDD2EE;


  }

}